<!DOCTYPE html>
<html lang="en">
{{> header }}
<body>
    <nav>
        <div class="logo">SalveHR - HRMS</div>
        <div class="menu">
           
                <a href="/home">Home</a>
                <a href="/employee">Employee-Management</a>
                <a href="/payroll">Payroll-Management</a>
                <a href="/legal-framework">Legal Framework</a>
                <a href="/profile">Profile</a>
                <a href="/auth/logout">Logout</a>
        </div>
    </nav>
    <h1>Legal Framework</h1>
    <hr>
    <br>
    <div>
        <h4>Parts of this agreement</h4>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>  
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>

        <h4>3rd Party Applications</h4>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>  
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>

        <h4>Personal Information and Privacy</h4>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>  
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>

        <h4>Communications from Zoho</h4>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>  
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>

        <h4>Hosting Location</h4>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>  
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>

        <h4>Modifications Of Terms And Services</h4>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>  
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>

        <h4>End Of Terms Of Services</h4>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>  
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>

        <h4>Data Ownership</h4>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>  
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>

        <h4>User Generated Content</h4>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>  
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>

        <h4>Grievance Redressal</h4>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>  
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>

        <h4>Inactive User Accounts Policy</h4>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>  
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>

        <h4>Complaints</h4>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>  
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>

        <h4>Organization Accounts and Administrators</h4>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>  
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>

        <h4>Fees and Payments</h4>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>  
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>

        <h4>Spamming And Illegal Activities</h4>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>  
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>

        <h4>Restrictions On Use</h4>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>  
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>

        <h4>User Signup Obligations</h4>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>  
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>

        <h4>Free Trial</h4>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>  
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>

        <h4>Beta Service</h4>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>  
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>

        <h4>Acceptance of the Agreement</h4>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>  
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>

        <h4>Description of Service</h4>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>  
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
        
    </div>
</body>
</html>